pre>.line {
    display: flex;
    white-space: pre;
}

pre>.line>span {
    display: block;
}

pre>.line>.content {
    white-space: pre-wrap;
}

pre>.line>.content:empty::before {
    content: " ";
}