pre>div.line {
    white-space: pre;
}

pre>div.line>span {
    display: inline-block;
}

pre>div.line>.content {
    white-space: pre-wrap;
}

pre>div.line>.content:empty::before {
    content: " ";
}